*{margin:0; padding:0; font-family:arial; box-sizing: border-box;}

section{width:100%; height:1000px;}

#about{background: url("1.jpg");}

#title-content{
    position: relative;
    top:25%;
}

#title{
    color:white;
    text-align:center;
}

#title-description{
    color:white;
    text-align:center;
    font-size: 23px;
}

#line{
text-align: center;
}

#span-description{
    font-size:17px;
}

#content-left{
    position: relative;
    top:40%;
    color:white;
    width:30%;
    left: 5%;
}

.navbar{
    width:100%;
    text-align:center;
    background: rgb(30, 74, 131);
}

.navbar ul li {
    list-style-type:none;
    display: inline-block;
    padding: 10px 50px;
    color:white;
    font-size: 24px;
    font-family: sans-serif;
    cursor: pointer;
}

.navbar ul li:hover{
    background:orange;
}

a{
    text-decoration: none;
    color:white;
}